.avatarName {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.content {
    width: 300px !important;
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
    :global(.MuiTypography-root) {
        font-size: 14px;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .leftTitle {
        font-weight: 500;
    }
}
.headerTitle {
    font-weight: 500 !important;
    font-size: 16px !important;
}
.iconEdit {
    font-size: 15px !important;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.inputEdit {
    width: 170px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.titleInfo {
    font-weight: 500 !important;
    font-size: 14px !important;
}
.iconClose {
    font-size: 20px !important;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.wrapTitlePhone {
    display: flex;
    align-items: center;
    gap: 10px;
}
.phone {
    display: flex;
    justify-content: space-between;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}