.container {
  margin-top: 24px;
  display: flex;
  background-color: #161b22 !important;
  background: linear-gradient(to right, #161b22, #4a1875);
  height: 70px;
  border-radius: 15px;
  padding: 0 24px;
  align-items: center;
}

.optionFilter {
  color: var(--color-white) !important;
}
.search {
  flex: 1;
}

@media screen and (max-width: 420px) {
  .container {
    margin-top: 10px;
  }
}

@media screen and(max-width: 280px) {
  .container {
    display: block;
    height: 120px;
  }
}
