.TextField {
  & > div {
    width: 100%;
    input {
      color: white;
      font-weight: 100;
    }
  }
  color: var(--color-white) !important ;
  font-weight: 100 !important;
  fieldset {
    border: none !important;
  }
  svg {
    color: var(--color-white) !important ;
  }
}
